@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');



* This is for the main stuff */
body, html {
  height: 100%;
  margin: 0;
 
}

/*only for the have bar tbh*/
body {
    margin: 0;
    background: rgb(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
}

main {
  position: relative;
  height: 100vh;

}

h1{
  font: "Oswald",  sans-serif; 
  font-size: 4em; 
  font-weight:700;
}

h3 {
  font-family:'Oswald', sans-serif; 
  font-size: 1em; 
  font-weight:400; 
  letter-spacing:8px; 
  text-transform: uppercase; 
  
}


p{
  font-family: "Oswald",  sans-serif; 
  font-weight: 300;
  letter-spacing: 0.02em;
}




:root {
  --background: rgba(0, 0, 0, .95);
  --pink: #d67ce9;
  --gray: #474747;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hamburger {
  width: 40px;
  cursor: pointer;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  top: 0;
  left: 0;
  margin-left: 1em;
  color: white;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 100%;
  display: flex;
}

.logo-link {
  text-decoration: none;
}

.nav-toggle {
  z-index: -1;
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 40px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;

}

nav a:hover {
  color: rgba(255, 255, 255, 0.85);
  
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}



/* -------------------------------- 

Navbar Decoration 

-------------------------------- */

.a-link {
position: relative;
display: inline-block;
}

.a-link::after {
position: absolute;
content: "";
bottom: 0;
left: 0;
right: 0;
opacity: 1;
transition: all .15s;
z-index: -1;
}

/* Slider */
.a-link.slide {
overflow: hidden;
}
.a-link.slide span {
display: inline-block;
transition: all .5s;
}
.a-link.slide span::after {
position: absolute;
top: auto;
content: attr(dd-text);
color: var(--pink);
}

/* left */
.a-link.slide.left span::after {
left: -100%;
top: 50%;
transform: translateY(-50%);
}
.a-link.slide.left:focus span,
.a-link.slide.left:hover span {
transform: translateX(100%);
}








  /* -------------------------------- 

Mobile Side  

-------------------------------- */
  
main {
    position: relative;
    height: 100vh;
  }

  /*Profile IMAGE*/

  main img.profile{
    /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
    position: absolute;
    top: 53.5%; /*Placing box while keeping it responsive*/
    left: 13%; /*Placing box while keeping it responsive*/
    transform: translate3d(-27%, -50%, 0); /*Had to lower the negative percets inoder to have name in line*/
    width: 39%;
    border-radius: 15%;
  }
  
/*Paragraph*/

  main .content{
    /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
    color: rgb(214, 214, 214);
    position: absolute;
    top: 55%; /*Placing box while keeping it responsive*/
    left: 50%; /*Placing box while keeping it responsive*/
    transform: translate3d(-13%, -50%, 0); /*Had to lower the negative percets inoder to have name in line*/
    text-align: left;
    font-size: 1.3em;
  }

  
  main .content p.resume{

    text-align: center;
  }

  /*Social media*/
  main .content .social{
    /*background: rgba(0, 0, 0, 0.2);*/
    top: 70%; /*Placing box while keeping it responsive*/
    left: 75%; /*Placing box while keeping it responsive*/
    transform: translate3d(1.5%, 20%, 0); /*Had to lower the negative percets inoder to have name in line*/
    
  }

  /*Links*/
main a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);

}

main a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);


}

main a:hover {
  text-decoration: none;
  color: rgb(145, 100, 151);

}

main a:active {
  text-decoration: underline;
  color: rgb(255, 255, 255);


}


main .social{
  position: absolute;
  top: 85%; /*Placing box while keeping it responsive*/
  left: 57%; /*Placing box while keeping it responsive*/
  transform: translate3d(-10%, -40%, 0); /*Had to lower the negative percets inoder to have name in line*/
}

main .social img{
 
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
}












  /* -------------------------------- 

Mobile Side  

-------------------------------- */

  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    .logo {
        float: left;
        width: 19%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    nav {
      position: relative;
      text-align: center;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      width: 60%;
      float: right;
      padding-top: 30px;
      
      /* end Edge support stuff */
      display: flex;
      justify-content: flex-end;
      align-items: middle;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-right: 1em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: '';
      display: block;
      background: black;
      position: relative;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  
  }



@media screen and (max-width: 1176px) and (min-width: 601px) {
  main img.profile{
    color: rgba(0, 0, 0, 0.301);
    /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
    top: 29%;
    left: 13%;
  }

  main .content{

    /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
   font-size: 1.1em;
   padding-left: 5px;
  }

  main .social{
      top: 65%; /*Placing box while keeping it responsive*/
      left: 15%; /*Placing box while keeping it responsive*/
      width: 100px; /*Makes the icons align vertiaclly*/
    }

    
    main .social img{
        width: 100px; 
        padding-top: 30px;
    }
}


  @media screen and (max-width: 600px) and (min-width: 400px) {

    main img.profile{
      color: rgba(0, 0, 0, 0.301);
      /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
      top: 29%;
      left: 35%;
      width: 320px;
    }

    main .content{

      /*background: rgba(0, 0, 0, 0.2); /*Just so I can see where the box is located*/
      font-size: 1em;
      top: 72%;
      left: 17.5%;
      width: 470px;

    }

   
    main .social{
      top: 98%; /*Placing box while keeping it responsive*/
      left: 21%; /*Placing box while keeping it responsive*/
      transform: translate3d(-10%, -40%, 0); /*Had to lower the negative percets inoder to have name in line*/
    }

    main .social img{
    
        width: 22%;
        margin-left: 5%;
        margin-right: 5%;
    }

  }

  